.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 8vw;
  padding-top: 60px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr; /* Dos columnas: izquierda (logo) y derecha ("Get in Touch") */
  gap: 40px;
  align-items: start;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-content-right {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Separación entre el título y la lista */
  align-items: flex-start;
}

.footer-content-right h2 {
  color: white;
  margin-bottom: 10px;
}

.footer-content-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-content-right ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-social-icons img {
  width: 35px;
}

.footer-social-icons {
  display: flex;
  gap: 10px;
}

.footer hr {
  width: 100%;
  height: 1px;
  background-color: #555;
  border: none;
  margin: 20px 0px;
}

.footer-copyright {
  text-align: center;
  font-size: 0.9rem;
  color: #aaaaaa;
  margin-top: 10px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 750px) {
  .footer-content {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    gap: 30px;
    text-align: center;
  }
  .footer-content-right {
    align-items: center;
  }
  .footer-content-left {
    align-items: center;
  }
}
